.mainDiv{

  margin: 0 auto;
  left: 500px;
  text-align: center;
}

#input{
  left: 550px;
  width: 200px;
}
.hide{

display:none;
}
.show{
  display:initial;
}
#pagesContainer{
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
